<footer>
	<nav class = "round">
		<ul>
			<li><%= link_to "Home", 'root_path' %></li>
			<li><%= link_to "Community", 'community_path' %></li>
			<li><%= link_to "Parties", 'parties_path' %></li>
			<li><%= link_to "Rush", 'rush_path' %></li>
			<li><%= link_to "History", 'history_path' %></li>
			<li><%= link_to "Brothers", 'brothers_path' %></li>
			<li><%= link_to "Officers", 'officers_path' %></li>
			<li><%= link_to "Composites", 'composites_path' %></li>
			<li><%= link_to "Links", 'links_path' %></li>
			<li><%= link_to "Contact us", 'contacts_path' %></li>
		</ul>
	</nav>
	<%= image_tag("footer_top.gif", :alt => "Kappa Delta Rho")%>
	<%= image_tag("footer_middle.gif", :alt => "Kappa Delta Rho")%>
	<%= image_tag("footer_bottom.gif", :alt => "Kappa Delta Rho")%>
</footer>