<!DOCTYPE html>
<<<<<<< HEAD

<html>

	<head>
		<title><%= title %></title>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets' %>
		<%= javascript_include_tag :defaults %>
	</head>
	
	<body>
		<div class = "container">
			<%= render 'layouts/header' %>
			<section class = "round">
				<%= yield %>
			</section>
			<%= render 'layouts/footer' %>
		</div>
	</body>
	
=======
<html>
<head>
  <title>KDR</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
>>>>>>> b1b9c465f8afe48db85ac097f59272e028be6d4b
</html>
